<div class="row">
  <div class="col-md-2 col-sm-12 col-xs-12 pull-right">
    <a ui-sref="form">
      <button type="button" class="btn btn-custom-add pull-right"><i class="fa fa-plus-circle"></i> Add Event</button>
    </a>
  </div>
  <div class="col-md-4 col-sm-12 col-xs-12">
    <div id="custom-search-input">
      <div class="input-group col-md-12">
        <input type="text" ng-model="searchText.title" class="form-control input-lg" placeholder="Search" />
        <span class="input-group-btn">
          <button class="btn btn-info btn-lg" type="button">
            <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    </div>
  </div>
</div>
<br>
<accordion close-others="true">
  <accordion-group is-open="false" ng-repeat="event in eventList.events | filter:searchText | orderBy: 'createdAt':true">
    <accordion-heading>{{ event.title }}<br>
      <span class="header-time"><i class="fa fa-clock-o"></i> {{event.from | date:'medium'}} - {{event.to | date:'medium'}}<br>
        <i class="fa fa-globe"></i> {{ event.location | uppercase }}</span><br>
    </accordion-heading>
    <div class="well">
      <p>{{ event.description }}</p>
      <i class="fa fa-users"></i><span class="subtitle"> Participants</span>
      <div ng-repeat="participant in event.participants">
        {{ participant }}
      </div>
    </div>

    <div class="pull-right text-right">
      <a ui-sref="edit({id: 'hey'})">Edit this Event <i class="fa fa-pencil-square-o"></i></a><br>
      <a class="cancel-font" ng-click="eventList.deleteEvent(event._id)">Delete this Event <i class="fa fa-trash-o"></i></a>
    </div>
  </accordion-group>
</accordion>
