<form name="eventForm.form" ng-submit="eventForm.saveEvent()">
  <div class="form-group custom-form-field" ng-class="{ 'has-error' : eventForm.form.title.$invalid && !eventForm.form.title.$pristine,
    'has-success' : eventForm.form.title.$valid && !eventForm.form.title.$pristine }">
    <input type="text" name="title" class="form-control" ng-model="eventForm.event.title" placeholder="Title" ng-minlength="3" ng-maxlength="32" required>
    </input>
  </div>

  <div class="form-group custom-form-field" ng-class="{ 'has-error' : eventForm.form.description.$invalid && !eventForm.form.description.$pristine,
  'has-success' : eventForm.form.description.$valid && !eventForm.form.description.$pristine }">
    <input type="text" name="description" class="form-control" ng-model="eventForm.event.description" placeholder="Description" ng-minlength="3" ng-maxlength="180" required>
    </input>
  </div>

  <div class="form-group custom-form-field" ng-class="{ 'has-error' : eventForm.form.location.$invalid && !eventForm.form.location.$pristine,
  'has-success' : eventForm.form.location.$valid && !eventForm.form.location.$pristine }">
    <input type="text" name="location" class="form-control" ng-model="eventForm.event.location" placeholder="Location" ng-minlength="3" ng-maxlength="50" required>
    </input>
  </div>

  <div class="form-group custom-form-field" ng-class="{ 'has-error' : eventForm.form.participants.$invalid && !eventForm.form.participants.$pristine,
  'has-success' : eventForm.form.participants.$valid && !eventForm.form.participants.$pristine }">
    <input type="text" name="participants" class="form-control" ng-model="eventForm.event.participants" placeholder="Participants (separated by comma)" ng-minlength="1" ng-maxlength="400" required>
    </input>
  </div>

  <div class="dropdown custom-form-field col-md-5 form-group">
    <a class="dropdown-toggle" id="fromDropdown" role="button" data-toggle="dropdown" data-target="#" href="#">
      <div class="input-group"><input type="text" placeholder="From" class="form-control" data-ng-model="eventForm.event.from" required><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
      </div>
    </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
      <datetimepicker data-ng-model="eventForm.event.from" data-datetimepicker-config="{ dropdownSelector: '#fromDropdown' }"/>
    </ul>
  </div>

  <div class="col-md-2"></div>

  <div class="dropdown custom-form-field col-md-5 form-group">
    <a class="dropdown-toggle" id="toDropdown" role="button" data-toggle="dropdown" data-target="#" href="#">
      <div class="input-group"><input type="text" placeholder="To" class="form-control" data-ng-model="eventForm.event.to" required><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
      </div>
    </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
      <datetimepicker data-ng-model="eventForm.event.to" data-datetimepicker-config="{ dropdownSelector: '#toDropdown' }"/>
    </ul>
  </div>

  <div class="row">
    <div class="col-md-2 col-sm-12 col-xs-12 pull-right">
      <button type="submit" id="submit" class="btn btn-custom-save pull-right" ng-disabled="eventForm.form.$invalid"><i class="fa fa-check-circle"></i> Save Event</button>
    </div>
    <div class="col-md-2 col-sm-12 col-xs-12 pull-right">
      <a ui-sref="list">
        <button class="btn btn-custom-cancel pull-right"><i class="fa fa-times-circle"></i> Cancel</button>
      </a>
    </div>
  </div>
</form>
